:root{--jumbotron-padding-y:3rem}
body{font-family: -apple-system,"Microsoft YaHei",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
.jumbotron{padding-top:calc(var(--jumbotron-padding-y) * 2);padding-bottom:calc(var(--jumbotron-padding-y) * 2);margin-bottom:0;position:relative}
.jumbotron p:last-child{margin-bottom:0}
.jumbotron-heading{font-weight:300}
.jumbotron .bg{background:rgba(0, 0, 0, 0.8);position:absolute;width:100%;height:100%;left:0;top:0}
.jumbotron .container{position:relative}
footer{padding-top:3rem;padding-bottom:3rem}
footer p{margin-bottom:.25rem}
footer a{color:#2d74b2}
body, h3{font-weight:300}
.box-shadow{box-shadow:0 .25rem .75rem rgba(0, 0, 0, .05)}
.jumbotron{background:url(https://images.unsplash.com/photo-1526860474862-d2c1d76aed1f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a6be3dfab8db60665eed6a99dbf481bd&auto=format&fit=crop&w=1920&q=80);background-size:cover;background-position:center;background-repeat:no-repeat;color:white;border-radius:0}
img{max-width:100%}
section{position:relative;background:white;margin-bottom:30px;padding:1px;border:0 solid #c5d2db;border-radius:8px;background:#fff;box-shadow:0 1px 2px rgba(31,35,37,.08)}
section .panel-heading{padding:12px 24px;font-size:1.2em;border-bottom:1px solid #e7eff4;cursor:default}
section .panel-heading a{color:#212529;text-decoration:none}
section .panel-heading .fa{}
section .panel-heading .fa-bookmark-o{}
section content{position:relative;display:block}
section header{position:absolute;top:0;left:0px;width:140px;cursor:default}
section header .icon-download{font-size:1.2em;position:absolute;top:50%;width:100%;text-align:center;margin:-0.7em 0 0 0;font-weight:lighter}
section header .icon-download a{color:#555;text-decoration:none}
section header .icon-download a:hover{}
section header + .website-list{margin:0 30px 0 140px;border-left:1px dotted #e8e8e8}
section .website-list{margin:0 30px 0 30px;padding:0;overflow:hidden}
section .website-list li{float:left;width:20%;height:98px;margin-left:-1px;border-left:1px dotted #e8e8e8;overflow:hidden;cursor:pointer;list-style:none;position:relative}
section .website-list li .more{position:absolute;right:10px;top: 10px;}
section .website-list li .more a{background:#007bff;color:white;font-size:12px;padding:2px 7px;border-radius:6px;text-decoration:none;display: block;}
section .website-list li .website{text-decoration:none;color:#2d74b2;display:block;height:68px;padding:7px 10px;margin:10px;box-sizing:content-box;border-radius:6px;transition:background 0.15s, box-shadow 0.15s}
section .website-list li .website .name{margin-bottom:5px;font-size:15px;font-weight:400}
section .website-list li .website:hover{background:rgba(186, 210, 232, 0.3);box-shadow:0 1px 2px rgba(31,35,37,.08)}
section .website-list li .description{font-size:12px;color:#a2a8a2;margin:0}
section header, section .website-list{height:200px}
section .line1 header, section .line1 .website-list{height:100px}
.navbar-brand{padding:0.7rem 0}
.navbar{padding-top:0;padding-bottom:0}
.navbar-nav{}
.navbar-nav .nav-item{}
.navbar-nav .nav-item a{height:76px;line-height:76px;padding-top:0;padding:0 1.2rem!important}
.navbar-nav .nav-item.active{}
.navbar-nav .nav-item.active a{background:#4184bf;color:white!important;display:p a d}
.navbar-nav .nav-item .nav-link{}
.navbar-nav .nav-item .nav-link:hover{}
section .website-list li .more a.color-fibos-rocks{color: #78d2f0;background: rgba(0, 0, 0, 0.85);}
.table-hover tr:hover {background-color: rgba(0,0,0,.075);}
.online, .open{color: green;}
.online:before, .open:before{font-family: "Font Awesome 5 Free";content:'\f058';display: inline-block;width: 20px}
.offline, .blocked, .error{color: red;}
.offline:before, .blocked:before, .error:before{font-family: "Font Awesome 5 Free";content:'\f057';display: inline-block;width: 20px}
.over21,.unknown,.unset{color: gray;}
.over21:before,.unknown:before,.unset:before{font-family: "Font Awesome 5 Free";content:'\f059';display: inline-block;width: 20px}
.monospaced-font{/*font-family: Consolas,Courier;*/}
.connecting{color: gray;}
.connecting:before{font-family: "Font Awesome 5 Free";content:'\f2f1';display: inline-block;width: 20px;font-weight: 900;}