<!doctype html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FIBOS 导航是汇集 FIBOS 优质网址及资源的导航网站">
    <meta name="author" content="FIBOS 导航">
    <title>FIBOS 导航</title>
    <link rel="icon" type="image/png" href="public/images/icon.png">
    <link href="public/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="public/components/aos/dist/aos.css" rel="stylesheet">
    <link href="public/css/app.css" rel="stylesheet">
    <link href="public/css/phone.css" rel="stylesheet" media="screen and (max-width:1200px)">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44004176-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44004176-1');
    </script>
  </head>
  <body>

    <header>
      <div class="navbar navbar-light navbar-expand-sm">
        <div class="container d-flex justify-content-between">
          <a href="https://www.fibos123.com/" class="navbar-brand d-flex align-items-center">
            <img src="public/images/logo.png" height="50" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="./"><i class="fas fa-map-signs"></i> 网站</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="monitor.html"><i class="fas fa-code-branch"></i> 节点监控</a>
            </li>
          </ul>
        </div>

        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="bg"></div>
        <div class="container">
          <h1 class="jumbotron-heading">FIBOS 导航</h1>
          <p class="lead"> 一个汇集 FIBOS 优质网址及资源的导航网站 </p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div id="content" class="container">

        </div>
      </div>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="/">返回首页</a>
        </p>
        <p>
          <a href="javascript:;" id="vote_with_ironman"><i class="fas fa-heart"></i> 使用 Ironman 插件给本站投票</a>
          <br>
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>
          <a href="https://www.fibos123.com/">FIBOS 导航</a>
        </p>
      </div>
    </footer>
  </body>

    <script id="tpl-site" type="text/html">
    {{ each site }}
      <section>
        <div class="panel-heading"><a id="{{ $value.name }}" data-aos="fade-up">
          <i class="{{ $value.icon }}"></i> {{ $value.name }}</a>
        </div>
        {{ each $value.sub }}
          <content data-aos="fade-up" {{ if $value.child.length <= 5 }}class="line1"{{/if}}>
            {{ if $value.name }}
               <header> 
                <h2 class="icon-download"><a id="{{ $value.name }}" >{{ if $value.icon }}<i class="{{ $value.icon }}"></i> {{ /if }}{{ $value.name }}</a></h2> 
               </header> 
             {{/if}}
             <ul class="website-list"> 
              {{ each $value.child }}
                <li> 
                  <a href="{{ $value.url }}" class="website" target="_blank">
                    <p class="name">{{ if $value.icon }}<i class="{{ $value.icon }}"></i> {{ /if }}{{ $value.name }}</p>
                    <p class="description">{{ $value.desc }}</p>
                  </a> 
                  {{ if $value.more }}
                    <p class="more">
                      <a href="{{ $value.more.url }}" target="_blank" class="{{ $value.more.color }}">
                        {{ if $value.more.icon }}<i class="{{ $value.more.icon }}"></i> {{ /if }}{{ $value.more.name }}
                      </a>
                    </p>
                  {{ /if }}
                 </li>
               {{/each}}
             </ul> 
         </content>
       {{/each}}
      </section>
    {{/each}}
    </script>

  <script src="public/components/jquery/dist/jquery.min.js"></script>
  <script src="public/components/aos/dist/aos.js"></script>
  <script src="public/components/template-web.js"></script>
  <script src="public/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
      document.write("<script type='text/javascript' src='data.js?rand=" + Math.random() + "'><\/script>");
  </script>
  <script src="public/js/app.js"></script>

  <script src="https://qcloudtest-1256426052.cos.ap-guangzhou.myqcloud.com/fibos.20180902.js"></script>
  <script src="public/components/bignumber.js/bignumber.min.js"></script>
</html>
