section{text-align: center;}
section .panel-heading{}
section .panel-heading a{}
section .panel-heading .fa{}
section .panel-heading .fa-bookmark-o{}
section content{}
section header{width:100%;position:inherit}
section header .icon-download{position:relative}
section header .icon-download a{}
section header .icon-download a:hover{}
section header + .website-list{margin:0 10px;border-left:none;border-top:1px dotted #e8e8e8}
section .website-list{height:initial;margin:0 10px}
section .website-list li{width:50%;height:120px;border-bottom: 1px dotted #e8e8e8;}

section .website-list li:nth-child(odd):last-child {
    width: 100%;
}

section .website-list li .website{height: 88px;margin: 7px 5px;}
section .website-list li .website .name{
}
section .website-list li .website:hover{}
section .website-list li .description{}
section header, section .line1 header {height: 79px;}
section .line1 .website-list{height:initial;margin:0}
