<div class="part-about">
    <div class="container py-5">
      <h2>FIBOS 导航竞选 FIBOS 超级节点</h2>

      <h5 class="pt-4">简介</h5>
      <p>
        FIBOS 导航是由在日本中国人 Andy 发起。 <br>
        旨在维护一个稳定的 FIBOS 节点，向公众传播有关 FIBOS 知识，为社区做出贡献。 <br>
      </p>

      <h5 class="pt-3">成员</h5>
      <p>
        <b>Andy 创始人</b><br>
        <span>全栈开发者，现居日本东京。</span>
      </p>

      <h5 class="pt-3">节点信息</h5>
      <table class="table table-dark table-bordered table-hover table-sm table-striped">
        <tbody>
          <tr>
            <th scope="row">节点账户</th>
            <td>fibos123comm</td>
          </tr>
          <tr>
            <th scope="row">HTTP</th>
            <td>http://rpc-mainnet.fibos123.com</td>
          </tr>
          <tr>
            <th scope="row">HTTPS</th>
            <td>https://rpc-mainnet.fibos123.com</td>
          </tr>
          <tr>
            <th scope="row">P2P</th>
            <td>p2p-mainnet.fibos123.com:9977</td>
          </tr>
        </tbody>
      </table>

      <h5 class="pt-3">联系</h5>
      <p>
        <b>Email</b>
        <span>&#98;&#112;&#64;&#102;&#105;&#98;&#111;&#115;&#49;&#50;&#51;&#46;&#99;&#111;&#109;</span>
      </p>

  </div>
</div> 
