<main role="main">
  <div class="py-4 bg-light">
    <div class="container part-monitor">

    	<ul class="nav nav-pills flex-column flex-sm-row">
		  <li class="nav-item">
		    <a class="nav-link active" ng-href="#!/monitor">出块节点在线状态</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor/logs">出块节点在线状态变更记录</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor/pointer">接入点状态监测</a>
		  </li>
		</ul><br>


		<div class="d-flex justify-content-between">
		    <div>
				<h3>出块节点在线状态</h3>
				<div>
					最新区块：{{ data.head_block_num | number }}<br/>
					状态更新时间：{{ data.bp_status_refresh_time | date : "yyyy-MM-dd HH:mm:ss Z" }}
				</div>
			</div>
		    <div class="mt-auto">
    			<div class="input-group input-group-sm pb-1">
				  <input type="text" autocomplete="off" placeholder="搜索" class="form-control" ng-model="q">
				</div>
			</div>
	    </div>



		<table ng-if="items" class="table table-bordered table-hover table-sm table-striped  monospaced-font">
			<thead>
				<tr>
					<th width="50" class="text-center">编号</th>
					<th>节点账户</th>
					<th width="20%">状态</th>
					<th width="20%">生产区块</th>
					<th width="35%">最终生产时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in items | filter:q" ng-class="{ 'font-weight-bold': data.head_block_producer == value.bpname }">
					<td align="center">{{ $index + 1 }}</td>
					<td>{{ value.bpname }}</td>
					<td ng-if="data.head_block_num - value.number <= 242" class="icon icon-ok">
						online
					</td>
					<td ng-if="data.head_block_num - value.number > 242" class="icon icon-ng">
						offline
					</td>
					<td>
						{{ value.number | number }}
					</td>
					<td>
						{{ value.date | date : "yyyy-MM-dd HH:mm:ss Z" }}
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="!items">获取中...</div>
		
	</div>
  </div>
</main>