<main role="main">
  <div class="py-4 bg-light">
    <div class="container part-monitor">
    	
    	<ul class="nav nav-pills flex-column flex-sm-row">
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor">出块节点在线状态</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor/logs">出块节点在线状态变更记录</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" ng-href="#!/monitor/pointer">接入点状态监测</a>
		  </li>
		</ul><br>

		
		<div class="d-flex justify-content-between">
		    <div><h3>接入点状态监测 </h3></div>
		    <div class="mt-auto" ng-if="list">
				<a class="a-link" ng-click="refresh()"><i class="fas fa-sync-alt"></i> 刷新</a> 
			</div>
	  </div>

		<table ng-if="list" class="table table-bordered table-hover table-sm table-striped monospaced-font">
			<thead>
				<tr>
					<th width="50" class="text-center">编号</th>
					<th>节点账户</th>
					<th width="25%">HTTP 状态</th>
					<th width="25%">HTTPS 状态</th>
					<th width="25%">P2P 状态</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in list">
					<td align="center">{{ $index + 1 }}</td>
					<td>
						<span ng-if="
							value.http.status == 'ok' &&
							value.http.history &&
							value.https.status == 'ok' &&
							value.https.history &&
							value.p2p.status == 'ok'
						" class="green" data-toggle="tooltip" title="满分接入点"><i class="fas fa-thumbs-up"></i> {{ value.bpname }}</span>
						<span ng-if="
							!(value.http.status == 'ok' &&
							value.http.history &&
							value.https.status == 'ok' &&
							value.https.history &&
							value.p2p.status == 'ok')
						" >{{ value.bpname }}</span>

						<a class="hide-link float-right" ng-if="value.producerjson.org.website" target="_blank" href="{{ value.producerjson.org.website }}" data-toggle="tooltip" title="打开新窗口查看网站">
							<i class="fas fa-link"></i>
						</a>
					</td>

					<td>
						<span ng-if="value.http.history" class="green" data-toggle="tooltip" title="已开启 history 插件">
							<i class="fas fa-history"></i>
						</span>
						<span class="icon" ng-class="{'icon-ok': value.http.status == 'ok', 'icon-ng': value.http.status == 'ng', 'icon-connecting': value.http.status == 'connecting', 'icon-unknown': value.http.status == 'unset', 'icon-warning': !value.http.cors}" data-toggle="tooltip" title="{{ value.http.endpoint }}">
							<span>{{ value.http.msg }}</span>
							<span ng-if="value.http.status == 'ok'">{{ value.http.number | number }}</span>
						</span>
						<span ng-if="!value.http.cors" data-toggle="tooltip" title="未开启 CORS">
							<i class="fas fa-exclamation-circle"></i>
						</span>
						<a class="hide-link float-right" ng-if="value.http.status != 'unset'" target="_blank" href="{{ value.http.endpoint }}/v1/chain/get_info" data-toggle="tooltip" title="打开新窗口查看接入点">
							<i class="fas fa-link"></i>
						</a>
					</td>

					<td>
						<span ng-if="value.https.history" class="green" data-toggle="tooltip" title="已开启 history 插件">
							<i class="fas fa-history"></i>
						</span>
						<span class="icon" ng-class="{'icon-ok': value.https.status == 'ok', 'icon-ng': value.https.status == 'ng', 'icon-connecting': value.https.status == 'connecting', 'icon-unknown': value.https.status == 'unset', 'icon-warning': !value.https.cors}" data-toggle="tooltip" title="{{ value.https.endpoint }}">
							<span>{{ value.https.msg }}</span>
							<span ng-if="value.https.status == 'ok'">{{ value.https.number | number }}</span>
						</span>
						<span ng-if="!value.https.cors" data-toggle="tooltip" title="未开启 CORS">
							<i class="fas fa-exclamation-circle"></i>
						</span>
						<a class="hide-link float-right" ng-if="value.https.status != 'unset'" target="_blank" href="{{ value.https.endpoint }}/v1/chain/get_info" data-toggle="tooltip" title="打开新窗口查看接入点">
							<i class="fas fa-link"></i>
						</a>
					</td>

					<td >
						<span data-toggle="tooltip" title="{{ value.p2p.endpoint }}" class="icon" 
						ng-class="{
						'icon-ok': value.p2p.status == 'ok', 
						'icon-ng': value.p2p.status == 'ng', 
						'icon-connecting': value.p2p.status == 'connecting', 
						'icon-unknown': value.p2p.status == 'unset' || value.p2p.status == 'unknown', 
						'icon-warning': value.p2p.warning}"
						>
							{{ value.p2p.msg | lowercase }}
						</span>

						<span ng-if="!value.p2p.detecting" data-toggle="tooltip" title="这是新接入点，服务器未对其进行监测，请把该接入点地址({{ value.p2p.endpoint }})发送给 &#98;&#112;&#64;&#102;&#105;&#98;&#111;&#115;&#49;&#50;&#51;&#46;&#99;&#111;&#109; ">
							<i class="fas fa-exclamation-circle"></i>
						</span>

						<span>
							<a class="hide-link float-right" ng-if="value.p2p.status != 'unset'" target="_blank" href="https://api.fibos123.com/check_p2p?host={{ value.p2p.endpoint.split(':')[0] }}&port={{ value.p2p.endpoint.split(':')[1] }}" data-toggle="tooltip" title="打开新窗口查看接入点">
								<i class="fas fa-link"></i>
							</a>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="!list">获取中...</div>

	</div>
  </div>
</main>