<main role="main">
  <div class="album py-4 bg-light">
    <div id="content" class="container">
    	
    	<ul class="nav nav-pills flex-column flex-sm-row">
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor">出块节点在线状态</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" ng-href="#!/monitor/logs">出块节点在线状态变更记录</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" ng-href="#!/monitor/pointer">接入点状态监测</a>
		  </li>
		</ul><br>

		<div class="d-flex justify-content-between">
		    <div>
		    	<h3>出块节点在线状态变更记录 </h3>
				<div ng-if="bp_status_change_logs">
					记录开始时间：{{ bp_status_change_logs.log_birthtime | date : "yyyy-MM-dd HH:mm:ss Z" }} <br>
					记录更新时间：{{ bp_status_change_logs.now_time | date : "yyyy-MM-dd HH:mm:ss Z" }}
				</div>
		    </div>
		    <div class="mt-auto" ng-if="bp_status_change_logs">
				<a class="a-link" ng-click="refresh()"><i class="fas fa-sync-alt"></i> 刷新</a> 
			</div>
	  </div>

		<table ng-if="bp_status_change_logs_rows" class="table table-bordered table-hover table-sm table-striped monospaced-font" >
			<thead>
				<tr><th width="50" class="text-center">编号</th><th>时间</th><th>节点账户</th><th>旧状态</th><th>新状态</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in bp_status_change_logs_rows.slice().reverse()" ng-if="$index < 20 || is_all">
					<td align="center">{{ bp_status_change_logs_rows.length - $index }}</td>
					<td>{{ value.date | date : "yyyy-MM-dd HH:mm:ss Z" }}</td>
					<td>{{ value.bp }}</td>
					<td class="{{ value.from }}">{{ value.from }}</td>
					<td class="{{ value.to }}">{{ value.to }}</td>
				</tr>
			</tbody>
		</table>
		<a class="a-link" ng-click="show_all()" ng-if="!is_all && bp_status_change_logs">
			查看剩余的 {{ bp_status_change_logs_rows.length - 20 }} 条记录
		</a>
		<div ng-if="!bp_status_change_logs">获取中...</div>

	</div>
  </div>
</main>